In [3]:
import pandas as pd

In [8]:
df = pd.read_csv('nyc_weather.csv')

In [10]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [11]:
df['Temperature'].max()

50

In [12]:
df['Temperature'].min()

20

In [14]:
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [21]:
df['EST'][df['Events']=='Fog-Snow']

16    1/17/2016
22    1/23/2016
Name: EST, dtype: object

In [25]:
df.fillna(0, inplace = True)
df['WindSpeedMPH'].mean()

6.225806451612903

In [27]:
rows , columns =df.shape

In [28]:
 rows

31

In [29]:
columns

11

In [31]:
df[2:10]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,0,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,0,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,0,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,0,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,0,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,0,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,0.0,1.8,7,Rain,109

In [32]:
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [35]:
df.info

<bound method DataFrame.info of           EST  Temperature  DewPoint  Humidity  Sea Level PressureIn  \
0    1/1/2016           38        23        52                 30.03
1    1/2/2016           36        18        46                 30.02
2    1/3/2016           40        21        47                 29.86
3    1/4/2016           25         9        44                 30.05
4    1/5/2016           20        -3        41                 30.57
5    1/6/2016           33         4        35                 30.50
6    1/7/2016           39        11        33                 30.28
7    1/8/2016           39        29        64                 30.20
8    1/9/2016           44        38        77                 30.16
9   1/10/2016           50        46        71                 29.59
10  1/11/2016           33         8        37                 29.92
11  1/12/2016           35        15        53                 29.85
12  1/13/2016           26         4        42                 29.94
13  1/14/2016           30        12        47                 29.95
14  1/15/2016           43        31        62                 29.82
15  1/16/2016           47        37        70                 29.52
16  1/17/2016           36        23        66                 29.78
17  1/18/2016           25         6        53                 29.83
18  1/19/2016           22         3        42                 30.03
19  1/20/2016           32        15        49                 30.13
20  1/21/2016           31        11        45                 30.15
21  1/22/2016           26         6        41                 30.21
22  1/23/2016           26        21        78                 29.77
23  1/24/2016           28        11        53                 29.92
24  1/25/2016           34        18        54                 30.25
25  1/26/2016           43        29        56                 30.03
26  1/27/2016           41        22        45                 30.03
27  1/28/2016           37        20        51                 29.90
28  1/29/2016           36        21        50                 29.58
29  1/30/2016           34        16        46                 30.01
30  1/31/2016           46        28        52                 29.90

    VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover    Events  \
0                10           8.0               0           5         0
1                10           7.0               0           3         0
2                10           8.0               0           1         0
3                10           9.0               0           3         0
4                10           5.0               0           0         0
5                10           4.0               0           0         0
6                10           2.0               0           3         0
7                10           4.0               0           8         0
8                 9           8.0               T           8      Rain
9                 4           0.0             1.8           7      Rain
10               10           0.0               0           1         0
11               10           6.0               T           4         0
12               10          10.0               0           0         0
13               10           5.0               T           7         0
14                9           5.0               T           2         0
15                8           7.0            0.24           7      Rain
16                8           6.0            0.05           6  Fog-Snow
17                9          12.0               T           2      Snow
18               10          11.0               0           1         0
19               10           6.0               0           2         0
20               10           6.0               0           1         0
21                9           0.0            0.01           3      Snow
22                1          16.0            2.31           8  Fog-Snow
23                8           6.0               T           3      Snow
24               10           3.0               0           2         0
25               10           7.0               0           2         0
26               10           7.0               T           3      Rain
27               10           5.0               0           1         0
28               10           8.0               0           4         0
29               10           7.0               0           0         0
30               10           5.0               0           0         0

    WindDirDegrees
0              281
1              275
2              277
3              345
4              333
5              259
6              293
7               79
8               76
9              109
10             289
11             235
12             284
13             266
14             101
15             340
16             345
17             293
18             293
19             302
20             312
21              34
22              42
23             327
24             286
25             244
26             311
27             234
28             298
29             257
30             241  >

In [44]:
df.Events

0            0
1            0
2            0
3            0
4            0
5            0
6            0
7            0
8         Rain
9         Rain
10           0
11           0
12           0
13           0
14           0
15        Rain
16    Fog-Snow
17        Snow
18           0
19           0
20           0
21        Snow
22    Fog-Snow
23        Snow
24           0
25           0
26        Rain
27           0
28           0
29           0
30           0
Name: Events, dtype: object

In [50]:
type(df.Events)
type(df.WindSpeedMPH)

pandas.core.series.Series

In [52]:
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [53]:
df[['EST','Temperature']]

          EST  Temperature
0    1/1/2016           38
1    1/2/2016           36
2    1/3/2016           40
3    1/4/2016           25
4    1/5/2016           20
5    1/6/2016           33
6    1/7/2016           39
7    1/8/2016           39
8    1/9/2016           44
9   1/10/2016           50
10  1/11/2016           33
11  1/12/2016           35
12  1/13/2016           26
13  1/14/2016           30
14  1/15/2016           43
15  1/16/2016           47
16  1/17/2016           36
17  1/18/2016           25
18  1/19/2016           22
19  1/20/2016           32
20  1/21/2016           31
21  1/22/2016           26
22  1/23/2016           26
23  1/24/2016           28
24  1/25/2016           34
25  1/26/2016           43
26  1/27/2016           41
27  1/28/2016           37
28  1/29/2016           36
29  1/30/2016           34
30  1/31/2016           46

In [56]:
df['Temperature'].max()

50

In [57]:
df['Temperature'].mean()

34.67741935483871

In [58]:
df['Temperature'].min()

20

In [59]:
df['Temperature'].std()

7.639315400279415

In [60]:
df.describe()

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
count,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000
mean,34.677419,17.838710,51.677419,29.992903,9.193548,6.225806,3.129032,247.129032
std,7.639315,11.378626,11.634395,0.237237,1.939405,3.422569,2.629853,92.308086
min,20.000000,-3.000000,33.000000,29.520000,1.000000,0.000000,0.000000,34.000000
25%,29.000000,10.000000,44.500000,29.855000,9.000000,5.000000,1.000000,238.000000
50%,35.000000,18.000000,50.000000,30.010000,10.000000,6.000000,3.000000,281.000000
75%,39.500000,23.000000,55.000000,30.140000,10.000000,8.000000,4.500000,300.000000
max,50.000000,46.000000,78.000000,30.570000,10.000000,16.000000,8.000000,345.000000

In [61]:
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,0,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,0,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,0,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,0,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,0,333

In [71]:
df[df.WindSpeedMPH>=7.0]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,0,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,0,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,0,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,0,345
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,0,284
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,0,293
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,0,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,0,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,0,257

In [74]:
df[['DewPoint','Temperature']][df.Temperature==df['Temperature'].max()]

   DewPoint  Temperature
9        46           50

In [75]:
df.index

RangeIndex(start=0, stop=31, step=1)

In [76]:
df.head(5)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,0,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,0,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,0,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,0,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,0,333

In [79]:
df.set_index('EST',inplace = True)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,0,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,0,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,0,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,0,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,0,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,0,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,0,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,0,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,0.0,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,0.0,0,1,0,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,0,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,0,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,0,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,0,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,0,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,0,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,0,312
21,1/22/2016,26,6,41,30.21,9,0.0,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,0,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,0,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,0,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,0,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,0,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,0,241

In [80]:
df.head(5)

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
1/1/2016,38,23,52,30.03,10,8.0,0,5,0,281
1/2/2016,36,18,46,30.02,10,7.0,0,3,0,275
1/3/2016,40,21,47,29.86,10,8.0,0,1,0,277
1/4/2016,25,9,44,30.05,10,9.0,0,3,0,345
1/5/2016,20,-3,41,30.57,10,5.0,0,0,0,333

In [81]:
df.loc['1/4/2016']

Temperature                25
DewPoint                    9
Humidity                   44
Sea Level PressureIn    30.05
VisibilityMiles            10
WindSpeedMPH              9.0
PrecipitationIn             0
CloudCover                  3
Events                      0
WindDirDegrees            345
Name: 1/4/2016, dtype: object

In [82]:
df.reset_index(inplace = True)

In [84]:
df.head(5)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,0,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,0,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,0,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,0,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,0,333

In [87]:
df.loc[1]

EST                     1/2/2016
Temperature                   36
DewPoint                      18
Humidity                      46
Sea Level PressureIn       30.02
VisibilityMiles               10
WindSpeedMPH                 7.0
PrecipitationIn                0
CloudCover                     3
Events                         0
WindDirDegrees               275
Name: 1, dtype: object